{% extends "base.html" %}

{% block content %}

  {% if error %}
    <row>
      <div class="col-12">{{error}}</div>
    </row>
  {% endif %}

  {% for p in posts %}
  <row>
    <h2 class="col-8"><a href="/blog/{{p.key().id()}}">{{p.subject}}</a></h2>

    <div class="col-4">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </row>
  <row>
    <div class="col-12">
      {{p.content.replace("\n", "<br>") | safe}}
    </div>
  </row>
  <row>
    <div class="col-4">Created by: {{p.created_by}}</div>
    <div class="col-4">Likes: {{p.likes}}

  {% if username != p.created_by %}

    {% if username not in p.liked_by %}
      <a href="/blog/{{p.key().id()}}/like" class="col-4">Like</a>
    {% else %}
      <a href="/blog/{{p.key().id()}}/dislike" class="col-4">Dislike</a>
    {% endif %}

  {% endif %}

    </div>
  </row>
    <br>
    <row>
  {% if p.created_by == username %}
    <a href="/blog/{{p.key().id()}}/edit" class="col-4">Edit</a>
    <a href="/blog/{{p.key().id()}}/delete" class="col-4">Delete</a>
  {% endif %}
  </row>
    <br>
    <br>
  {% endfor %}

{% endblock %}