<row>
  <div class="col-8">
    {{p.subject}}
  </div>

  <div class="col-4">
    {{p.created.strftime("%b %d, %Y")}}
  </div>
</row>



<row>
  <div class="col-12">
    {{p._render_text | safe}}
  </div>
</row>

<row>
  <div class="col-6">Created by: {{p.created_by}}</div>
  <div class="col-6">Likes: {{p.likes}}

{% if p.created_by != username %}

  {% if username not in p.liked_by %}
    <input type="submit" name="like" value="Like"> 
  {% else %}
    <input type="submit" name="dislike" value="Dislike"> 
  {% endif %}

{% endif %}

  </div>
</row>